@{
    ViewBag.Title = "Base devices";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@Scripts.Render("~/bundles/ol")
@Scripts.Render("~/bundles/signalr")
<script src="/signalr/hubs"></script>
<link rel='stylesheet' href='http://ol3js.org/en/master/css/ol.css'>
<script src="~/Scripts/MyScripts/janekScript.js"></script>

@*<style>
    #map {
        height: 100%;
        width: 100%;
    }
</style>*@



<div id="map" class="map"></div>

