@{
    ViewBag.Title = "Base devices";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@Scripts.Render("~/bundles/signalr")
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<link href="~/Content/BaseDevices.css" rel="stylesheet">
<script src="/signalr/hubs"></script>
<script src="~/Scripts/MyScripts/deviceBaseBroadcaster.js"></script>

<div id="map"></div>

