@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="~/Scripts/MyScripts/myTest.js"></script>
@*<script type="text/javascript">
    var baseballMarker = '@Url.Content("~/Content/Icons/blueBikeSmall.png")';
</script>*@

<div id="map" style="width: 600px; height: 400px"></div>
