@{
    ViewBag.Title = "Home Page";
}

@Scripts.Render("~/bundles/ol")
<link rel='stylesheet' href='http://ol3js.org/en/master/css/ol.css'>
<script src="~/Scripts/MyScripts/myTest.js"></script>


<div id='map'></div>
<button style='position:absolute; left: 10px; top:30%' onclick='removeTopLayer()'>Remove Top Layer</button>
<button style='position:absolute; left: 10px; top:40%' onclick='swapTopLayer()'>Swap Top Layers</button>